<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Saraiya</title>
</head>
<body>
    <h1>Welcome to my Page</h1>
    <h2>About my interests and goals</h2>
    <h2>Some information about myself</h2>
    <!-- This is general information about myself-->
    <p>Hi! My name is <strong>Saraiya Rogers</strong>. My favorite color is <em>pink</em>. In my free time I like to watch Korean dramas or TikToks.</p>
    <p> I am a student at the University of Maryland. I will graduate <strong>this semester (Spring 2024)</strong>, and I will start my master's degree in IS in <em>Fall 2024!</em></p>

    <p>Things that I love:</p>
    <!-- these are truly things that I love, it was not made up-->
    <ul>
        <li> Money </li>
        <li> TikTok</li>
        <li> My dog Max</li>
        <li> Gaming on Overwatch</li>
    </ul>


    <p> Some of my favorite courses: </p>
    <p id="courses"> These courses were very interesting to me.</p>

    <ol>
        <li> SOCY242 </li>
        <li> BMGT230</li>
        <li> ASTR100</li>
        <li> PHIL261</li>
    </ol>
    <!-- I do not remember the correct semester that I took these classes. -->
    <table>
        <tr>
            <th> Course </th>
            <th> Semester taken</th>
        </tr>
        <tr>
            <td> BMGT301 </td>
            <td> Fall 2023</td>
        </tr>
        <tr>
            <td> PHIL261 </td>
            <td> Spring 2022</td>
        </tr>
        <tr>
            <td> BMGT380 </td>
            <td> Fall 2023</td>
        </tr>
    </table>
    <p> Here is a link to my other HTML page <a href=" http://127.0.0.1:5000/hello">Hello!</a>.</p>
    <p> Here is a link to <a href="#courses">courses section</a> on this Web page.</p>
    <p> Here is a link to <a href="https://www.amazon.com/ref=nav_logo" target="_blank"> my favorite website</a>.</p>

    <p> Here is a picture of my school logo:</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         width="150" height="40" alt="Smith School Logo">
</body>
</html>
